{% extends "base.html" %}

{% from "_render_field.html" import render_field %}
{% from "_render_errors.html" import render_errors %}

{% block content %}
    {{ render_errors() }}

    <table>
    <thead><tr><th>Item</th><th>Description</th><th>Gold Standard</th></tr></thead>
    <tbody>
        {% for _curr in curr %}
            <tr>
                <td>{{ _curr['item'] }}</td>
                <td>{{ _curr['desc'] }}</td>
                <td>{{ _curr['gold_std'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    <p>Currency:</p>
    <form method="POST">
        {{ form.csrf_token }}

        {{ render_field(form.item) }}
        {{ render_field(form.desc) }}
        {{ render_field(form.gold_std) }}
        {{ render_field(form.add) }}
    </form>
{% endblock content %}
