Economy

- Currency

- Goods & Services
    Adventure Gear
    Special Substances & Items
    Tools & Skill Kits
    Clothing
    Food & Drink
    Lodging
    Mounts & Riding Gear
    Transport
    Spellcasting & Services

- Weapons
    Simple Weapons
    Martial Weapons
    Exotic Weapons
    Magical Weapons

- Armor & Shields

{% extends "base.html" %}

{% block content %}
    <ul><a href="{{ url_for('economy.currency') }}">Currency</a></ul>
{% endblock content %}
