{% extends "characters/base.html" %}

{% block content %}
    <form  action="", method="post">
        {{ form.csrf_token }}

        {{ form.new_character }}
        <br><br>

        {% if form.char.entries %}
            <table>
                <thead>
                    <tr>
                        <th>Character</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    {% for _char in form.char.entries %}
                        <tr>
                            <td>{{ _char.char_name }}</td>
                            <td>{{ _char.rm_btn }}</td>
                            <td>{{ _char.char_id }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </form>
{% endblock content %}