{% extends "characters/base.html" %}

{% from "_render_form_as_table.html" import render_form %}
{% from "_render_form_as_table.html" import render_records %}
{% from "_render_form_as_table.html" import render_headers %}

{% block title %}{{ form.char_info.char_name.data }}{% endblock title %}

{% block content %}
    <form method=post class='CharSheet' id="CharSheetForm">
        {{ form.csrf_token }}

        {# Submit #}
        {% include "characters/sheet/submit.html" %}
        <hr>

        {# Character Info #}
        {% include "characters/sheet/char_info.html" %}
        <hr>

        {# Class and Level #}
        {% include "characters/sheet/class_info.html" %}
        <hr>

        {# Character Stats #}
        {% include "characters/sheet/char_stats.html" %}
        <hr>

        {# AC #}
        {% include "characters/sheet/armor_class.html" %}
        <hr>

        {# Inititive #}
        {% include "characters/sheet/inititive.html" %}
        <hr>

        {# Abilities #}
        {% include "characters/sheet/abilities.html" %}
        <hr>

        {# Skills #}
        {% include "characters/sheet/skills.html" %}
        <hr>

        {# Weapon #}
        {% include "characters/sheet/weapons.html" %}
        <hr>

        {# Armor #}
        {% include "characters/sheet/armor.html" %}
        <hr>

        {# Shields #}
        {% include "characters/sheet/shields.html" %}
        <hr>

        {# Spells #}
        {% include "characters/sheet/spells.html" %}
        <hr>

        {# Items #}
        {% include "characters/sheet/items.html" %}
        <hr>

        {# Money #}
        {% include "characters/sheet/money.html" %}
        <hr>

        {# Feats #}
        {% include 'characters/sheet/feats.html' %}
        <hr>

        {# Specials #}
        {% include "characters/sheet/specials.html" %}
        <hr>

        {# Languages #}
        {% include "characters/sheet/languages.html" %}
        <hr>

        {# Notes #}
        {% include "characters/sheet/notes.html" %}
        <hr>

        {# Submit #}
        {% include "characters/sheet/submit.html" %}
    </form>
{% endblock content %}