/*ALL*/
body {
    background-color: rgb(110, 110, 110);
    color: black;
}

input, textarea, select{
    background-color: rgb(130, 130, 130);
}

input, textarea{
    cursor: default;
}

textarea, select{
    border: 1px solid;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
}

input, textarea{
    cursor: default;
}

a{
    color: darkblue;
}

hr{
    border-color: black;
}

form.CharSheet > table input{
    max-width: 100px;
    text-align: center;
}

form.CharSheet > table td{
    text-align: center;
}

form.CharSheet > table{
    table-layout: auto;
    max-width: 100px;
    border-collapse: collapse;
}

form.CharSheet > table td{
    white-space: nowrap;
}

form.CharSheet .Abilities input,.Skills input,.CharStats input,.AC input, .Init input{
    width: 45px;
}

form.CharSheet .Skills td{
    text-align: left;
}