{% from "_render_field.html" import render_field %}
{% from "_render_errors.html" import render_errors %}

{% extends "auth/base.html" %}

{% block title %}Sign In{% endblock title %}

{% block style %}{% endblock style %}

{% block page_title %}User Sign In{% endblock page_title %}

{% block header %}
    Sign In
{% endblock header %}

{% block content %}
    {{ render_errors() }}

    <form action="" method="post">
        {{ form.csrf_token }}

        {{ render_field(form.username) }}
        {{ render_field(form.password) }}

        <br>
        <input type='submit' value='Sign In'>
    </form>

{% endblock content %}