{% from "_render_field.html" import render_field %}
{% from "_render_errors.html" import render_errors %}

{% extends "mechanics/base.html" %}

{% block content %}
    {{ render_errors() }}

    <p>Units of Time</p>
    <table>
    <thead><tr><th>Unit</th><th>Description</th><th>Round Standard</th></tr></thead>
    <tbody>
        {% for unit in unit_list %}
            <tr>
                <td>{{ unit['unit'] }}</td>
                <td>{{ unit['desc'] }}</td>
                <td>{{ unit['std'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    <p>New Unit of Time:</p>
    <form method="POST">
        {{ form.csrf_token }}

        {{ render_field(form.unit) }}
        {{ render_field(form.desc) }}
        {{ render_field(form.std) }}
        {{ render_field(form.add) }}
    </form>
{% endblock content %}
