{% extends "admin/base.html" %}

{% block content %}
    Links
    <ul><a href="{{ url_for('admin.privilege') }}">Privilege</a></ul>
    <ul><a href="{{ url_for('admin.user') }}">Users</a></ul>
{% endblock content %}