{% from "_render_field.html" import render_field %}
{% from "_render_errors.html" import render_errors %}

{% extends "admin/base.html" %}

{% block content %}
    {{ render_errors() }}

    Privilege Levels:
    {% for level in levels %}
        <li>{{ level }}</li>
    {% endfor %}
    <br>

    <form action="" method="post">
        {{ form.csrf_token }}
        {{ render_field(form.privilege) }}
        {{ form.submit }}
    </form>
{% endblock content %}
