{% from "_render_errors.html" import render_errors %}

{% extends "admin/base.html" %}

{% block content %}
    {{ render_errors() }}

    {% if username_list %}
        {% for username in username_list %}
            <a href="{{ url_for('admin.user', username=username) }}">{{ username }}</a><br>
        {% endfor %}

    {% else %}
        {% if user%}
            <form action="", method="post">
                {{ form.csrf_token }}
                <h3>{{ user.username }}</h3>
                <p>Date Joined: {{ user.date_joined.strftime("%d %b %Y") }}</p>
                <p>Email: {{ user.email }}</p>
                <p>Privilege Level: {{ user.privilege.name }}</p>
                <p>{{ form.privilege.label }} {{ form.privilege }}</p>
                <p>{{ form.disabled.label }} {{ form.disabled(checked=user.disabled) }}</p>
                {{ form.update }}
            </form>
        {% endif %}
    {% endif %}

{% endblock content %}