{% extends "base.html" %}

{% block style %}
{% endblock style %}

{% block header %}
    Hello
{% endblock header %}

{% block content %}
    Hello
    {% if user %}
         {{user.username}}!
        <ul><a href="{{ url_for('user.profile') }}">Profile</a></ul>
        <ul><a href="{{ url_for('auth.sign_out') }}">Sign Out</a></ul>
        <ul><a href="{{ url_for('library.index') }}">Library</a></ul>
        <ul><a href="{{ url_for('characters.index') }}">Characters</a></ul>
        {% if dm %}
            <ul><a href="{{ url_for('economy.index') }}">Economy</a></ul>
            {% if admin %}
                <ul><a href="{{ url_for('mechanics.index') }}">Mechanics</a></ul>
                <ul><a href="{{ url_for('admin.index') }}">Admin</a></ul>
            {% endif %}
        {% endif %}
    {% else %}
         World!!
        <ul><a href="{{ url_for('auth.sign_in') }}">Sign In</a></ul>
        <ul><a href="{{ url_for('auth.join') }}">Join</a></ul>
    {% endif %}

{% endblock content %}
