{% from '_render_field.html' import render_field %}
{% from '_render_errors.html' import render_errors %}

{% extends "mechanics/base.html" %}

{% block content %}
    {{ render_errors()}}

    <table>
    <thead><tr><th>Type</th><th>Description</th><th>Example</th></tr></thead>
    <tbody>
        {% for dmg_type in dmg_types %}
            <tr>
                <td>{{ dmg_type['name'] }}</td>
                <td>{{ dmg_type['desc'] }}</td>
                <td>{{ dmg_type['example'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    <p>New Damage Type:</p>
    <form method="post", action="">
        {{ form.csrf_token }}

        {{ render_field(form.dmg_type) }}
        {{ render_field(form.dmg_desc) }}
        {{ render_field(form.dmg_example) }}
        {{ render_field(form.add) }}
    </form>
{% endblock content %}