{% from '_render_field.html' import render_field %}
{% from '_render_errors.html' import render_errors %}


{% extends "mechanics/base.html" %}

{% block content %}
    {{ render_errors()}}

    <ul><a href="{{ url_for('mechanics.damage_type') }}">Damage Type</a></ul>
    <ul>Weights & Measures:
        <ul><a href="{{ url_for('mechanics.wnm.weight') }}">Weight</a></ul>
        <ul><a href="{{ url_for('mechanics.wnm.length') }}">Length</a></ul>
        <ul><a href="{{ url_for('mechanics.wnm.time') }}">Time</a></ul>
    </ul>
{% endblock content %}