{% from '_render_field.html' import render_field %}
{% from '_render_errors.html' import render_errors %}

{% extends "base.html" %}

{% block content %}
    {{ render_errors()}}

    <h2>Welcome to the Library</h2>
    <p>Here you will find all the information necessary to complete your campaign.</p>

    <ul>
        <a href="{{ url_for('library.spells') }}">Spells</a>
    </ul>

{% endblock content %}