{% from "_render_field.html" import render_field %}
{% from "_render_errors.html" import render_errors %}

{% extends "user/base.html" %}

{% block content %}
    {{ render_errors() }}

    {{ user.username }}'s Profile<br><br>

    <form method="POST">
        {{ form.csrf_token }}

        {{ form.username.label }}<br>{{ form.username(value=user.username) }}<br><br>
        {{ form.email.label }}<br>{{ form.email(value=user.email) }}<br><br>
        {{ form.password }}<br><br>
        {{ form.delete }}<br><br>
        {{ form.update }} {{form.reset }}
    </form>

{% endblock content %}

