{# render_table will dynamically gerneate a table if it is passed a tuple of 
header and record data. The macro assumes that the headers are a list of 
class tableElements and the records are a list of record rows with each row 
containing a list of tableElemtents for each column in the row. #}

{% macro render_table(table) %}
    {% if table %}

        {% set headers, records, css = table.get_table() %}

        <table {{ css | safe }}>
            <thead>
                <tr>
                    {% for head in headers %}
                        {% if head.link %}
                            <a href="{{ head.link | safe }}">
                        {% endif %}
                            <th>
                                <span {{ head.css | safe }} 
                                    {% if head.hover %}
                                        title="{{ head.hover | safe }}"
                                    {% endif %}
                                >
                                    {{ head.data }}
                                </span>
                            </th>
                        {% if head.link %}
                            </a>
                        {% endif %}
                    {% endfor %}                
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr>
                    {% for _record in record %}
                        {% if _record.link %}
                            <a href="{{ _record.link | safe }}">
                        {% endif %}
                            <td>
                                <span {{ _record.css | safe }} 
                                    {% if _record.hover %}
                                        title="{{ _record.hover | safe }}"
                                    {% endif %}
                                >   {% if _record.is_table %}
                                        {{ render_table(_record.data) }}
                                    {% else %}
                                        {{ _record.data }}
                                    {% endif %}
                                </span>
                            </td>
                        {% if _record.link %}
                            </a>
                        {% endif %}
                    {% endfor %}                
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}
{% endmacro %}