{% macro render_field(field) %}
    {% if field.errors %}
        {% for error in field.errors %}
            <br>
            <span class="error">{{ error }}</span>
            <br>
        {% endfor %}
    {% else %}
        <br>
    {% endif %}
    {{ field.label }}:
    <br>
    {{ field(**kwargs) | safe }}
    <br>
{% endmacro %}