{% macro render_form(form) %}
        {{ render_headers(form) }}
        {{ render_records(form) }}
{% endmacro %}

{% macro render_headers(form) %}
    <thead>
        <tr>
            {% for field in form %}
                {% if field.description["header"] %}
                    <th>
                        {% if not field.description["button"] %}
                            {{ field.label }}
                        {% endif %}
                    </th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
{% endmacro %}

{% macro render_records(form) %}
    <tbody>
        <tr>
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <br>
                        <span class="error">{{ field.label }}: {{ error }}</span>
                        <br>
                    {% endfor %}
                {% endif %}
                {% if field.description["record"] %}
                    <td>
                        {% if field.description["alt_total"] %}
                            {{ form.alt_total.data }}
                        {% else %}
                            {% if field.description["editable"] %}
                                {{ field }}
                            {% else %}
                                {% if field.description["talespire"] %}
                                    <a href="{{ form.talespire }}">
                                {% endif %}
                                {% if not field.description["talespire_alt"] %}
                                    {{ field.data }}
                                {% endif %}
                                {% if field.description["talespire"] %}
                                    </a>
                                {% endif %}
                                {% if form.talespire_alt_bool %}
                                    {% if field.description["talespire_alt"] %}
                                        &nbsp/&nbsp
                                        <a href="{{ form.talespire_alt }}">
                                            {{ field.data }}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}
        <tr>
    </tbody>
{% endmacro %}