<!DOCTYPE html>

<html lang="en">

    <title>DMC - {% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block style %}{% endblock style %}

    <nav>
        <h1 class="title">
            <a href="{{ url_for('home.index') }}">DM Compainion</a>
        </h1>
        {% block page_title %}{% endblock page_title %}
    </nav>

    <header class="header">
        <h3>{% block header %}{% endblock header %}</h3>
    </header>

    <section class="content">
        {% block content %}{% endblock content %}
    </section>

    <footer>

    </footer>

</html>