<h2 id='abilities_header'>Abilities</h2>
<table class='Abilities'>
	{{ render_headers(form.abilities.entries[0]) }}
	{% for subform in form.abilities.entries %}
		{{ render_records(subform) }}
	{% endfor %}
</table>