<h2 id='armor_header'>Armor</h2>
<table class='Armor'>
	{{ render_headers(form.armor.entries[0]) }}
	{% for subform in form.armor.entries %}
		{{ render_records(subform) }}
	{% endfor %}
</table>
{{ form.add_armor }}