<h2 id='char_stats_header'>Character Stats</h2>
<table class='CharStats'>
	{{ render_form(form.char_stats) }}
</table>
<table class='CharStats'>
	<thead>
		<tr>
			<th>Speed</th>
			<th>Light Load</th>
			<th>Medium Load</th>
			<th>Heavy Load</th>
			<th>Lift Overhead</th>
			<th>Lift Load</th>
			<th>Drag Load</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ data["Speed"] }}</td>
			<td>{{ data["Light Load"] }}</td>
			<td>{{ data["Medium Load"] }}</td>
			<td>{{ data["Heavy Load"] }}</td>
			<td>{{ data["Lift Overhead"] }}</td>
			<td>{{ data["Lift Load"] }}</td>
			<td>{{ data["Drag Load"] }}</td>
		</tr>
	</tbody>
</table>