<h2 id='class_info_header'>Class Informaion</h2>
<table class='ClassInfo'>
	{{ render_headers(form.class_info.entries[0]) }}
	{% for subform in form.class_info.entries %}
		{{ render_records(subform) }}
	{% endfor %}
</table>
{{ form.add_class }}