<h2 id='feats_header'>Feats</h2>
{# <table class='Feats'>
	{{ render_headers(form.feats.entries[0]) }}
	{% for subform in form.feats.entries %}
		{{ render_records(subform) }}
	{% endfor %}
</table> #}
{{ tables['feats'] }}
{{ form.add_feat }}