<h2 id='items_header'>Items</h2>
<table class='Items'>
	{{ render_headers(form.items.entries[0]) }}
	{% for subform in form.items.entries %}
		{{ render_records(subform) }}
	{% endfor %}
</table>
{{ form.add_item }}