<h2 id='languages_header'>Languages</h2>
<table class='Languages'>
	{{ render_headers(form.languages.entries[0]) }}
	{% for subform in form.languages.entries %}
		{{ render_records(subform) }}
	{% endfor %}
</table>
{{ form.add_language }}