<h2 id='shields_header'>Shields</h2>
<table class='Shields'>
	{{ render_headers(form.shields.entries[0]) }}
	{% for subform in form.shields.entries %}
		{{ render_records(subform) }}
	{% endfor %}
</table>
{{ form.add_shield }}