<h2 id='skills_header'>Skills</h2>
<table class='Skills'>
	{{ render_headers(form.skills.entries[0]) }}
	{% for subform in form.skills.entries %}
		{{ render_records(subform) }}
	{% endfor %}
</table>