<h2 id='specials_header'>Special Abilities</h2>
<table class='Specials'>
	{{ render_headers(form.specials.entries[0]) }}
	{% for subform in form.specials.entries %}
		{{ render_records(subform) }}
	{% endfor %}
</table>
{{ form.add_special }}