<h2 id='spells_header'>Spells</h2>
<table class='Spells'>
	{{ render_headers(form.spells.entries[0]) }}
	{% for subform in form.spells.entries %}
		{{ render_records(subform) }}
	{% endfor %}
</table>
{{ form.add_spell }}