<h2 id='weapons_header'>Weapons</h2>
<table class='Weapons'>
	{{ render_headers(form.weapons.entries[0]) }}
	{% for subform in form.weapons.entries %}
		{{ render_records(subform) }}
	{% endfor %}
</table>
{{ form.add_weapon }}